/* HomePage.css */
.HomePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Основной контент */
  main {
    flex: 1;
    margin-top: 80px; /* Высота хедера */
    padding: 20px;
  }
  
  
  